BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 140

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

IndentCaseLabels: true

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

NamespaceIndentation: None
AccessModifierOffset: -4

MaxEmptyLinesToKeep: 1

SortIncludes: false
IncludeBlocks: Preserve

ReflowComments: false

Cpp11BracedListStyle: false

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false

AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None